body {
}

.page {
	//padding: 1000px 0px 0px 0px;
	background-color: #263238;
}

// block-text ====================================================================================================//

.block-text {

	&__title {
		@include adaptiveValue("font-size", 70, 35);
		font-weight: 700;
		line-height: 111.428571%; /* 78/70 */
		max-width: 920px;
		margin: 0 auto;
		@include adaptiveValue("padding-bottom", 32, 25);
		span {
			color: #23B123;
		}

		&_b {
			text-align: center;
			@include adaptiveValue("padding-bottom", 70, 30);
		}
	}

	&__text {
		line-height: 180%;
		&_b {
			max-width: 725px;
			margin: 0 auto;
			@include adaptiveValue("padding-bottom", 48, 25);
		}
	}
}

// form ====================================================================================================//

.form {
	max-width: 533px;
	height: 76px;
	background-color: #bfbfbf;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 6px;
	margin: 0 auto;
	gap: 5px;
	position: relative;
	@media (max-width: 450px) {
		display: block;
		height: 150px;
	}

	&__button {
		background-color: #23B123;
		height: 100%;
		min-width: 163px;
		border-radius: 10px;
		@media (max-width: 450px) {
			width: 100%;
			height: 50%;
		}
	}
	&__error {
		position: absolute;
		top: 100%;
		left: 0;
		color: red;
		font-size: 16px;
		transform: translate(10% ,100%);
		@media (max-width: 450px) {
			top: -15%;
			transform: translate(10%,0);

		}
	}
}
.input {
	width: 100%;
	padding: 0px 0px 0px 25px;
	color: #263238;
	@media (max-width: 450px) {
		height: 47%;
		margin: 0px 0px 5px 0px;
		border-radius: 10px;
	}
	&::placeholder {
		color: #263238;
	}
	&._form-error {
		color: red;
		&::placeholder {
			color: red;
		}
	}
}


// invest ====================================================================================================//

.invest {
	@include adaptiveValue("padding-top", 247, 120, 1620, 767, 1);
	@include adaptiveValue("padding-bottom", 200, 40);

		&__container {
			position: relative;
		}

		&__text-block {
			position: relative;
			z-index: 2;
			text-align: center;
		}

		&__form {
		}

		&__input {
		}

			&__decore {@media (max-width: 767px) {
				opacity: 0.5;
			}

		
				position: absolute;

				&_1 {
					top: 51.334702%; /* 500/974 */
					left: 0;
				}
		
				&_2 {
					top: 20.020534%; /* 195/974 */
					left: 9.577465%; /* 136/1420 */
				}
		
				&_3 {
					top: 59.445585%; /* 579/974 */
					left: 21.126761%; /* 300/1420 */
				}
		
				&_4 {
					top: -12%;
					right: 16.619718%; /* 236/1420 */
				}
		
				&_5 {
					top: 24.12731%; /* 235/974 */
					right: 12.605634%; /* 179/1420 */
				}
		
				&_6 {
					top: 51.334702%; /* 500/974 */
					right: 0%;
				}
		
				&_7 {
					top: 16.735113%; /* 163/974 */
					right: -10%;
				}
		}
}

// partners ====================================================================================================//

.partners {
	padding: 0px 0px 50px 0px;

	&__container {
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 767px) {
			justify-content: center;
		}
		li {
			text-align: center;
			max-width: 100%;
				@include adaptiveValue("margin-bottom", 50, 30);

			@media (max-width: 1200px) {
				flex: 0 1 30%;
			}
			@media (max-width: 767px) {
				flex: 0 1 50%;
			}
			@media (max-width: 560px) {
				img {
					max-width: 85%;
				}
			}
		}
	}
}

// howitworks ====================================================================================================//

.howitworks {
	@include adaptiveValue("padding-top", 200, 40);

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: 992px) {
			justify-content: center;
			align-items: center;
		}
	}

	&__content {
		flex: 0 1 50%;
		@include adaptiveValue("padding-right", 90, 15, 1420, 992, 1);
		@media (max-width: 992px) {
			flex: 0 1 100%;
			padding-right: 0;
		}
	}

	&__text-block {
	}

	&__body {
	}

	&__image {
		flex: 0 1 50%;
		img {
			max-width: 100%;
		}
		@media (max-width: 992px) {
			flex: 0 1 100%;
			display: flex;
			justify-content: center;
		}
	}
}
.block-text {
	@include adaptiveValue("padding-bottom", 48, 30);

	&__title {
	}

	&__text {
	}
}
.body-howitworks {
	@media (max-width: 992px) {
		
		@include adaptiveValue("padding-bottom", 50, 30, 992, 320, 1);
	}

	&__column {
		display: flex;
		align-items: center;
		&:not(:last-child){
			@include adaptiveValue("padding-bottom", 45, 30, 1420, 992, 1);
			@media (max-width: 992px) {
				@include adaptiveValue("padding-bottom", 45, 30, 992, 320, 1);				
			}
		}
	}

	&__icon {
		img {
			max-width: 100%;
		}
	}

	&__inform {
		@include adaptiveValue("padding-left", 32, 15);
		max-width: 380px;
		@media (max-width: 992px) {
			max-width: none;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 120%;
		@include adaptiveValue("padding-bottom", 16, 10);
	}

	&__text {
		line-height: 150%;
		@include adaptiveValue("font-size", 20, 14, 500, 320, 1);
	}
}

// pathway ====================================================================================================//

.pathway {
	@include adaptiveValue("padding-top", 200, 40);

	&__container {
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: center;
	}

	&__image {
		@include adaptiveValue("padding-right", 126, 15, 1420, 992, 1);
		flex: 0 1 50%;
		@media (max-width: 992px) {
			flex: 0 1 100%;
			@include adaptiveValue("padding-top", 80, 40, 992, 230, 1);
			display: flex;
			justify-content: center;
		}
		img {
			max-width: 100%;
		}
	}

	&__content {
		flex: 0 1 50%;
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
	}
}
.content-pathway {

	&__text-block {
	}

	&__list {
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 30px;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 10px;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #23B123;
		}
		&:not(:last-child){
			margin: 0px 0px 24px 0px;
		}
	}

	&__text {
		font-size: 24px;
		line-height: 177%;
	}

	&__vector {
		padding: 0px 0px 0px 20px;
	}
}

// whychoose ====================================================================================================//

.whychoose {
	@include adaptiveValue("padding-top", 200, 40);

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__content {
		@include adaptiveValue("padding-right", 160, 15, 1420, 992, 1);
		flex: 0 1 50%;
		@media (max-width: 992px) {
			flex: 0 1 100%;
			@include adaptiveValue("padding-bottom", 60, 25, 992, 320, 1);
		}
	}

	&__list {
	}

	&__item {
		display: flex;
		align-items: center;
		@include adaptiveValue("padding-bottom", 64, 25);
	}

	&__number {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 36px;
		line-height: 111.111111%; /* 40/36 */
		background: rgba(255, 255, 255, 0.05);
		width: 64px;
		height: 64px;
		border-radius: 50%;
		@include adaptiveValue("margin-right", 50, 20);
	}

	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 110%; /* 22/20 */
	}

	&__button {
		width: 222px;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__image {
		flex: 0 1 50%;
		display: flex;
		justify-content: center;
		img {
			max-width: 100%;
		}
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
	}
}
.content-pathway {

	&__text-block {
	}
}

// customers ====================================================================================================//

.customers {
	@include adaptiveValue("padding-top", 200, 40);

	&__container {
	}

	&__text-block {
	}

	&__body {
		display: flex;
		@include adaptiveValue("gap", 48, 10, 1420, 992, 1);
		padding: 0px 0px 48px 0px;
		@media (max-width: 992px) {
			flex-wrap: wrap;
			@include adaptiveValue("gap", 48, 20, 992, 320, 1);
		}
	}

	&__column {
		display: flex;
		flex: 0 1 50%;
		@media (max-width: 992px) {
			flex: 0 1 100%;
		}
		@media (max-width: 600px) {
			flex-wrap: wrap;
			justify-content: center;
			background: rgba(255, 255, 255, 0.05);
			border-radius: 20px 20px 20px 20px;
			padding: 30px 0px 0px 0px;
		}
	}

	&__image {
		flex: 0 1 44%;
		@media (max-width: 992px) {
			flex: 0 1 auto;
		}
		img {
			border-radius: 20px 0px 0px 20px;
			@media (min-width: 992px) {
				max-width: 100%;
			}
		}
		@media (max-width: 600px) {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				border-radius: 40px 40px 40px 40px;
				width: 95%;
			}
		}
	}

	&__content {
		flex: 0 1 56%;
		display: flex;
		flex-direction: column;
		padding: 32px;
		@include adaptiveValue("padding", 32, 10, 1420, 992, 2);
		background: rgba(255, 255, 255, 0.05);
		border-radius: 0px 20px 20px 0px;
		@media (max-width: 992px) {
		@include adaptiveValue("padding", 32, 10, 992, 320, 1);
		flex: 0 1 auto;
		}
		@media (max-width: 600px) {
			border-radius: 0px;
			background: none;
			min-height: 200px;
		}
	}

	&__text {
		line-height: 177%;
		flex: 1 1 auto;
		@media (max-width: 600px) {
			font-size: 16px;
		}
	}

	&__sign {
	}

	&__button {
		margin: 0 auto;
		width: 220px;
		@media (max-width: 600px) {
			width: 100%;
		}
	}
}

.block-text__title_m {
	max-width: none;
	text-align: center;
}

.block-text__text_m {
	max-width: 560px;
	margin: 0 auto;
}